//マップ型変数breakpointsを定義
$breakpoints: (
  //キー 値
  // 'xxs': 'screen and (max-width: 328px)',
  "xs": "screen and (max-width: 599px)",
  "sm": "screen and (max-width: 767px)",
  //767px以下（スマホ）用の表示
  "md": "screen and (min-width: 768px)",
  //768px以上（タブレット・PC）用の表示
  "lg": "screen and (min-width: 1024px)"
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {
  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}
