// Abstracts
@import "abstracts/functions";
@import "abstracts/mixins";

// Base
@import "base/reset";
@import "base/typography";

// Components
@import "components/buttons";
@import "components/carousel";
// ... 他のコンポーネントのインポート ...

// Layout
@import "layout/header";
@import "layout/footer";
@import "layout/grid";
// ... 他のレイアウト関連のインポート ...

// Pages
@import "pages/home";
@import "pages/about";
// ... 他のページ専用のスタイルのインポート ...

// Vendors
@import "vendors/bootstrap";
